/********************************************************************
					Compare Page Styles
********************************************************************/
table#product_comparison tbody tr td.product-block {
    vertical-align: top;
}

table#product_comparison tbody tr td.td_empty,
table#product_comparison tbody tr td.feature-name, table#product_comparison tbody tr.comparison_header {
    background: #fbfbfb;
}

table#product_comparison tbody tr td.comparison_infos {
    text-align: center;
}

table#product_comparison tbody tr td.comparison_infos div.center {
    margin: 0 auto;
    width: 80px;
}

table#product_comparison tbody tr td.td_empty {
    vertical-align: bottom;
}

table#product_comparison tbody tr td.td_empty > span {
    text-transform: uppercase;
    font-size: 18px;
}

table#product_comparison .remove {
    text-align: right;
    padding: 0 0 15px 0;
}

table#product_comparison .prices-container {
    padding: 0 0 5px 0;
}

table#product_comparison .comparison_availability_statut {
    display: none;
    font-weight: 700;
    color: #060;
}

table#product_comparison .product-rating {
    width: 90px;
    margin: 0 auto;
    overflow: hidden;
}

table#product_comparison .comparison_feature .product_name {
    display: none;
}

#stOCClose {
    width: 29px !important;
    height: 29px !important;
}

.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices,
.stButton .stButton_gradient {
    height: 22px !important;
}

.share strong {
    display: block;
    margin-bottom: 10px;
}

.share > div {
    margin-bottom: 8px;
}

.stArrow {
    display: none !important;
}

/***** IE code ****/
.ie8 table#product_comparison .product-image-block .product_image img {
    width: auto;
}