/* remove gap between blocks*/
.secondary_block {margin-top:0px}


/* customization of breadcrumbs on product page */
.prodname {
    color:#565b64;
    font-style:italic;
}

.prodname span {
    font-style:normal;
}

.prodname span a:hover {
    text-decoration:underline;
}

/* bestseller tag product page */
.pb-left-column #image-block .bestseller
{
    display: block;
    position: relative;
    z-index: 20;
    float: left;
    clear: both;
    margin: 0 0 3px 0;
    padding: 0 5px;
    background: var(--sst-blue);
    color: #ffffff;
    text-transform: uppercase;
}

/* SEND TO FRIEND/ SEND TO US (pop-in) *********************************************************** */
#send_friend_form .form_container p.intro_form {
    padding-bottom: 6px;
    font-weight: bold;
}

#send_friend_form .form_container p.txt_required {
    padding-bottom: 0;
}

#send_friend_form .form_container .text {
    padding-bottom: 10px;
}

#send_friend_form .form_container .text label {
    display: block;
    padding: 0;
    width: 100%;
}

#send_friend_form .form_container .text input {
    width: 100%;
}

/* fancybox send us email us about product */
#send_us_form textarea
{
    margin-top:5px;
    resize:vertical;
    min-height:100px;
    width:100%;
}

#your_email, #your_phone {
    width: 100%;
}

#send_us_form .intro_form {
    font-weight:bold;
}

/*all link -text + envelope*/
/* product page swopper range section */
#send_us_button
 {
    color:var(--sst-blue);
}

a#send_us_button:hover,
a#send_friend_button:hover, a#review_button:hover, a#blog_button:hover, a#go-to-all-reviews:hover
{
    color:var(--sst-darkgrey);
}

#review_button img:hover {transform: scale(1.05);}


/* product short description - lower line high */
.pb-center-column #short_description_block #short_description_content p {
    line-height: 18px;
}

#short_description_block, .tab-content {
    text-align:justify;
}

#prod-center-column #short_description_content {
    font-size: 0.9em;
}

.pb-center-column #buy_block {
    margin-top: 10px;
}

/* product attributes */
.pb-center-column #buy_block label {
    display: inline-block;
    /* width: 125px; */
    font-weight: 700;
    font-size: 12px;
    text-align: right;
}

.pb-center-column #buy_block p.price {
    padding: 0;
}

.pb-center-column #color_picker p {
    padding-bottom: 5px;
    font-weight: 700;
}



/* price inc/ex tax displayed customization*/
.price-ex{
    display: block;
    font-size: 25px;
}

.price-inc {
    margin-top:-15px;
    font-size: 15px;
}

.ex-vat {
    display:inline;
    font-size: 18px;
}

.inc-vat {
    display:inline;
    font-size: 12px;
}

/* box for priceincvat */
#priceinctax {
    display: block;
    background-color: #e7e7e7;
    border :1px solid #c0c0c0;
    padding: 0px;
    position:absolute;
    max-height:35px;
    margin-top:-25px;
    margin-left:5%;
    padding: 3px;
}


/************************************ BUTTONS SECTION *********************************/
#add_to_cart {
    float:left;
}

#calculate-payback img {
    width:20px;
    margin-top:5px;
    margin-left:10px;
}

#combination-error {
    display:none;
    color:var(--sst-red);
    font-size:1.1em;
    margin-bottom:10px;
    margin-top:-10px;
    text-align:center;
    border:1px solid var(--sst-red);
}


/* *******************************************PRODUCT ATTRIBUTES */
#buy_block select {
    font-size: 0.85em;
    white-space:pre;
}

#buy_block #attributes .attribute_list #color_to_pick_list li.additional-li,
#buy_block #attributes .attribute_list #color_to_pick_list li.standard-li
{
    font-size:0.85em;
    font-family:'Open Sans';
    color:black;
    #padding:3px;
    line-height:11px;
    border: 0;
    width: 110px;
    #text-align:center;
    margin:0;
}

#buy_block #attributes .attribute_list #color_to_pick_list li.standard-li.longer
{
    width:200px;
    margin-top:5px;
}

.pb-center-column #buy_block label {
    text-align:left;
}

.pb-center-column #buy_block .color .attribute_label {
    margin-bottom:5px;
}

/* little icons plus text customs  */
#prod-icon-desc .iconed-text, #d-interaction .iconed-text {
    padding-left: 25px;
}

#prod-icon-desc .ilonger{
    float:left;
}

#prod-icon-desc .ishorter{
    float:right;
}

/* special delivery css*/
.hushdesk-pdelivery {
    border:1px solid var(--sst-red);
    margin-top:10px;
    padding:20px;
    text-align:justify;
}

#prod-call-us .callusnumber {
    font-size: 1.3em;
}

.deliv-title {
    color:var(--sst-blue);
    font-weight:bold;
}

#attributes select {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#prod-call-us {
    line-height:20px;
    color:var(--sst-blue);
}

#prod-call-us.iconed-text > .wpicon
{
    color:var(--sst-blue);
}

#prod-call-us .callusnumber {
    #margin-left:5px;
    color:var(--sst-blue);
}

#send_friend_button, #review_button, #blog_button, #go-to-all-reviews {
    color:var(--sst-blue);
}

#d-interaction {
    margin-top:10px;
}

.colors-show ul li {
    float:left;
    margin:0px 6px 6px 0px;
    padding:1px;
    border:1px solid #d7dce2;
}

/* free delivery icon */
#freedelivery-icon, #maydelivery-icon {
    margin-left:65%;
    position:absolute;
}


/* tabbed box content was covering added to cart fancybox */
.secondary_block {
    z-index:0;
}


/* to display list style in tabbed box  */
.tab-content ul li {
    margin-left:5px;
    list-style-type:disc;
}



/* warranty icon */
#product-warrantyicon {
    margin-left:85%;
    position:absolute;
}

/* custom colours */
.product-ccolours {
    font-size:0.85em;
}

a#ccolours {
    text-decoration:underline;
    color:var(--sst-red);
}

#product-linakl {
    margin-top:55px;
    margin-left:85%;
    position:absolute;
}

#buy_block #attributes select.shorter {
    width:80%;
}
#availability_date {
    color:var(--sst-red);
}

.p-margintop {
    margin-top:10px;
}

#old_price_display {
    letter-spacing: -0.2px;
}

.title_block.no-bmar.popular-prod {
    padding-top:15px;
}
.riser-advice {
    text-align:justify;
    margin-top:25px;
    color:var(--sst-red);
}

/* freetrial button */
#freetrial-register {
    margin-top:10px;
    float:left;
    width:129px;
    background:var(--sst-blue);
    color:#ffffff;
    height:40px;
    text-align:center;
    padding-top:7px;
    font-size:1.1em;
    font-weight:bold;
    -webkit-box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.85), inset 0 1px 1px 0 rgba(255,255,255,0.15), 0 1px 1px 0 rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.85), inset 0 1px 1px 0 rgba(255,255,255,0.15), 0 1px 1px 0 rgba(0,0,0,0.35);
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.85), inset 0 1px 1px 0 rgba(255,255,255,0.15), 0 1px 1px 0 rgba(0,0,0,0.35);
}

#freetrial-register a {
    color:#ffffff;
}

/* oyo product */
.description-tabbed {
    width:150px;
    display:inline-block;
}
.description-tabbed.italic
{
    font-style:italic;
}


/* product specification tab */
.table-data-sheet{
    width: 70%;
}

.table-data-sheet  td {
    text-align: right;
}

.table-data-sheet  .title {
    text-align:left;
}

/* product page tabbed boxes vs viewed product lines - adjust vertically  */
.secondary_block .tabs {
    margin: 10px 0 50px 0px;
}

/* tabs on bottom -margins for lists correction  */
.tab-content ul li {
    margin-left:20px;
}

.tab-content ol {
    list-style:decimal;
    margin-left:20px;
}

/* shorten popular items block */
.block.shorterblock {
    margin-bottom: -20px;
}



/******************************************************************
Quick View Styles
******************************************************************/
.addsharethisinner .stButton .stArrow {
    display: none !important;
}

/***** IE code ****/
.ie8 .pb-left-column #image-block #view_full_size .span_link {
    background: #fff;
    border: 1px solid #d6d4d4;
}

.ie8 .box-security {
    filter: none;
}



/**********************************************************SECTION BELOW WRITTEN PREVIOUSLY ***************/
#page .rte {
    padding: 0 20px 20px;
    word-wrap: break-word;
}

#page .rte p {
    margin-bottom: 0;
}

.box-info-product .exclusive {
    padding: 0;
    border-top: 1px solid #0079b6;
    border-right: 1px solid #006fa8;
    border-left: 1px solid #006fa8;
    border-bottom: 1px solid #012740;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
    background-image: -webkit-linear-gradient(#009ad0, #007ab7);
    background-image: -moz-linear-gradient(#009ad0, #007ab7);
    background-image: -o-linear-gradient(#009ad0, #007ab7);
    background-image: linear-gradient(#009ad0, #007ab7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7', GradientType=0);
}

.box-info-product .exclusive:before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 25px;
    line-height: 47px;
    text-shadow: 0 1px #015883;
    content: "\f07a";
    z-index: 2;
    width: 51px;
    text-align: center;
    border: 1px solid #06b2e6;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.box-info-product .exclusive.added:before {
    content: "\f00c";
}

.box-info-product .exclusive.added.disabled:before, .box-info-product .exclusive.disabled:before {
    content: "\f110";
    /*
    animation: 2s linear 0s normal none infinite spin;
    -webkit-animation: 2s linear 0s normal none infinite spin;
    -moz-animation: 2s linear 0s normal none infinite spin;
    */
    border: none;
}

.box-info-product .exclusive:after {
    background: url(../img/border-1.gif) repeat-y 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 51px;
    content: "";
    width: 1px;
    z-index: 2;
}

.box-info-product .exclusive span {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    border-top: 1px solid #06b2e6;
    border-right: 1px solid #06b2e6;
    border-left: 1px solid #06b2e6;
    border-bottom: 1px solid #06b2e6;
    text-shadow: 0 1px #015883;
    padding: 12px 36px 14px 60px;
    color: white;
    display: block !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.box-info-product .exclusive:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0));
    background-image: -webkit-linear-gradient(#007ab7, #009ad0);
    background-image: -moz-linear-gradient(#007ab7, #009ad0);
    background-image: -o-linear-gradient(#007ab7, #009ad0);
    background-image: linear-gradient(#007ab7, #009ad0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007ab7', endColorstr='#009ad0', GradientType=0);
    background-position: 0 0;
}

#center_column.col-sm-9 .col-md-3 .box-info-product {
    background: #f6f6f6;
    border: 1px solid #d2d0d0;
    border-top: 1px solid #b0afaf;
    border-bottom: 1px solid #b0afaf;
}

#center_column.col-sm-9 .col-md-3 .box-info-product p {
    margin-bottom: 7px;
    padding: 15px 10px 0;
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive {
    padding: 0;
    border-top: 1px solid #0079b6;
    border-right: 1px solid #006fa8;
    border-left: 1px solid #006fa8;
    border-bottom: 1px solid #012740;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
    background-image: -webkit-linear-gradient(#009ad0, #007ab7);
    background-image: -moz-linear-gradient(#009ad0, #007ab7);
    background-image: -o-linear-gradient(#009ad0, #007ab7);
    background-image: linear-gradient(#009ad0, #007ab7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7', GradientType=0);
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
    font-family: "FontAwesome";
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 25px;
    line-height: 47px;
    text-shadow: 0 1px #015883;
    content: "\f07a";
    z-index: 2;
    width: 51px;
    text-align: center;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added:before {
    content: "\f00c";
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added.disabled:before, #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.disabled:before {
    content: "\f110";
    /*
    animation: 2s linear 0s normal none infinite spin;
    -webkit-animation: 2s linear 0s normal none infinite spin;
    -moz-animation: 2s linear 0s normal none infinite spin;
    */
    border: none;
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
    background: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 51px;
    content: "";
    width: 1px;
    z-index: 2;
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-top: 1px solid #006fa8;
    text-shadow: 0 1px #015883;
    padding: 12px 16px 14px;
    color: white;
    display: block !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0));
    background-image: -webkit-linear-gradient(#007ab7, #009ad0);
    background-image: -moz-linear-gradient(#007ab7, #009ad0);
    background-image: -o-linear-gradient(#007ab7, #009ad0);
    background-image: linear-gradient(#007ab7, #009ad0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007ab7', endColorstr='#009ad0', GradientType=0);
    background-position: 0 0;
}



/* box cointeners for images enlarge - in attributes*/
#box-cont {
    height:60px;
    width:60px;
    position:absolute;
    right:0;
    margin-top:-35px;
}

#box-cont-wider {
    height:120px;
    width:120px;
    position:absolute;
    right:0;
    margin-top: -15px;
}

#box-wider-descrip {
    position:absolute;
    margin-top:80px;
    display:inline-block;
    white-space:nowrap;
    right:0;
    text-align:center;
    min-width:120px;
    font-size:0.8em;
}

#box-cont-wider1 {
    height:120px;
    width:120px;
    position:absolute;
    right:0;
    margin-top: -25px;
}

#box-wider1-descrip {
    position:absolute;
    margin-top:97px;
    display:inline-block;
    white-space:nowrap;
    right:0;
    text-align:center;
    min-width:120px;
    font-size:0.8em;
}

/* delivery tab styling */
.deliv-title ~ ul {
    margin-bottom:20px;
}