
table, td, th
{
border:1px solid green;
border-collapse:collapse;
}
th
{
background-color:#da3b44;
color:white;
}
td {
    font-size:120%;
}

div {
    max-height:100px;
}

.question {
    overflow-y:auto;
    height:150px;
}

.email {
    overflow-x:auto;
}

.add {
     overflow-y:auto;
    height:150px;
}
