.wpsociallinks-text {
    display: block;
    float: left;
    padding: 5px 20px 5px 0;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
}

.wpsociallink {
    display: block;
    float: left;
    height: 50px;
    padding: 5px 12px;
}

.wpsociallink .wpicon{
    line-height: 40px;
}

.wpsociallink img {
    height: 24px;
    margin: 8px 0;
}

/*----------------------------------------------------------*/
/*
/* Media Queries
/*
/*----------------------------------------------------------*/

/*---------------------------------------*/
/* width >= 1680px
/*---------------------------------------*/
@media only screen and (min-width: 1680px)
{

}

/*---------------------------------------*/
/*  1280px <= width < 1680px
/*---------------------------------------*/
@media only screen and (max-width: 1679px)
{

}

/*---------------------------------------*/
/* 1136px <= width < 1280px
/*---------------------------------------*/
@media only screen and (max-width: 1279px)
{

}

/*---------------------------------------*/
/* 1024px <= width < 1136px
/*---------------------------------------*/
@media only screen and (max-width: 1135px)
{

}

/*---------------------------------------*/
/* 960px <= width < 1024px
/*---------------------------------------*/
@media only screen and (max-width: 1023px)
{

}

/*---------------------------------------*/
/* 768px <= width < 960px
/*---------------------------------------*/
@media only screen and (max-width: 959px)
{

}

/*---------------------------------------*/
/* 480px <= width < 640px
/*---------------------------------------*/
@media only screen and (max-width: 639px)
{

}

/*---------------------------------------*/
/* 420px <= width < 480px
/*---------------------------------------*/
@media only screen and (max-width: 479px)
{

}

/*---------------------------------------*/
/* 320px <= width < 420px
/*---------------------------------------*/
@media only screen and (max-width: 419px)
{
    .wpsociallinks-text {
        display: none;
    }
}

/*---------------------------------------*/
/* 0px <= width < 320px
/*---------------------------------------*/
@media only screen and (max-width: 319px)
{

}